.article {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
}

.headlineContainer {

    h1 {
        font-size: 4.8rem;
        font-family: 'Berkshire Swash', cursive;
    }

    .summary {
        
    }
}