@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
    font-size: 16pt;
}

* {
  box-sizing: border-box;
}

:root {
  --main-background: #ffffff;
  --main-light-gray: #f0f0f0;
  --main-middle-gray: #adadad;
  --main-dark-gray: #595959;
  --main-black: #000000;
}

a {
  text-decoration: none;
  color: black;
}