.header {
    padding: 1rem 3vw;
    margin: 0 auto;
    transition: all .3s cubic-bezier(0, 0.65, 0.58, 1)
}

.headerContainer {
    background-color: var(--main-background);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    padding: 0 10%;
}

.logoContainer {
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.navContainer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    height: 100vh;
    background-color: var(--main-background);
    width: 15rem;

    ul {
        margin: 0;
        padding: 3rem 1rem;

        li {
            padding: 0.2rem 0;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

.bottomBar {
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;

    ul {
        display: flex;
        font-size: 12pt;

        li {
            padding: .3rem;
        }
    }
}

.bottomNavBorder {
    transition: all .3s cubic-bezier(0, 0.65, 0.58, 1);
    border-top: 1px solid var(--main-black);
    border-bottom: 1px solid var(--main-black);
}

@media only screen and (max-width: 767px) {
    .logoContainer {
        margin: 0;
    }

    .header {
        justify-content: right;
        display: flex;
    }

    .headerContainer {
        padding: 0;
    }

    // .header {
    //     margin: 0;
    // }
}

@media only screen and (max-width: 600px) {
    .logoContainer {

    }

    .navContainer {
        width: 80%;
    }
}