.headerContainer {
    height: 65px;
    border-bottom: 1px solid var(--main-middle-gray);
    padding: 1rem 3vw;
    width: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--main-background);

    display: flex;
    justify-content: space-between;
}

.logoContainer {
    width: 25%;
    margin: 0 auto;
}

.navContainer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

    height: 100vh;
    background-color: var(--main-background);
    width: 20%;

    ul {
        list-style: none;
        margin: 0;
        padding: 3rem 1rem;

        li {
            padding: 0.2rem 0;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 767px) {
    .logoContainer {
        width: 40%;
        margin: 0;
    }

    .headerContainer {
        justify-content: right;
    }
}

@media only screen and (max-width: 600px) {
    .logoContainer {
        width: 60%;
    }

    .navContainer {
        width: 80%;
    }
}